# Ignore node_modules folder
node_modules/

# Ignore .env file containing sensitive data
.env
.env.production
# Ignore log files
*.log

# Ignore Mac system files
.DS_Store

# Ignore npm debug log files
npm-debug.log*

package-lock.json

# Ignore the database dump file
savorly.sql


*.py

/certs/
.qodo
backend/cert/
Testhub/